
.wrapper {
	max-width: 1000px;
	margin: auto;
}

.navbar {
	float: right;
}

#footer {
	background-color: gray;
	text-align: center;
    position:absolute;
    bottom:0;
   	width:100%
    height:60px;   /* Height of the footer */
    background:#6cf;
}

img {
	float:left;
}


